# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class
old

# Virtual environments
venv/
env/
*.env
*.venv

# Editors and IDEs
.vscode/
*.idea/
*.iml
.idea

# Jupyter Notebooks
.ipynb_checkpoints/

# Compiled Python files
*.pyd
*.pyc
*.pyo
*.pyz
*.pyw
__pycache__/
takeouts.py
# Distribution / packaging
*.egg-info/
dist/
build/
bin/
lib/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg

# LaTeX
*.aux
*.log
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.bcf
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc

# Compiled documents

*.dvi

# Miscellaneous
.DS_Store
*.bak
*.tmp

# Project-specific
/checkpoints
